<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Books</title>


  <script type="text/javascript" th:src="@{/api.js}"></script>
  <script>
    const getAllBooks = () => fetch('/api/v1/books')
            .then(resp => resp.json())
            .then(books => books.forEach(b => document.getElementById('books').appendChild(createTrBook(b))));

    const createTrBook = book => {
      const tr = document.createElement('tr');
      tr.id = 'trBook' + book.id;
      tr.innerHTML = `
                        <td>${book.id}</td>
                        <td>${book.title}</td>
                        <td>${book.author.fullName}</td>
                        <td>${book.genres.map(g => g.name).join(', ')}</td>
                        <td>
                            <a href="/books/${book.id}">Edit</a>
                            <button type="button" onclick="deleteBook(${book.id})">Delete</button>
                        </td>
                    `;
      return tr;
    }

    const deleteBook = bookId => {
      console.log(bookId);
      deleteBookById(bookId)
              .then(_ => document.getElementById('trBook' + bookId).remove())
              .catch(r => alert(r));
    }
  </script>
</head>
<body onload="getAllBooks()">
<h3>Books:</h3>
<a th:href="@{/books}"><button>Add book</button></a>
<table class="books">
  <thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Author</th>
    <th>Genres</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody id="books"></tbody>
</table>
</body>
</html>